<div style="border-bottom:1px solid #000044">
  <div id="question"></div>
  <h4> Answer: </h4>
	<h5> Answered by: <a href=<%="#users/"+ answer._author.id %> > <%= answer._author.get("name") %> </a> </h5>
  <h6> <%= "Created at: " + new Date(answer.escape("created_at")).toLocaleString()  %> </h6>

	<p> <%= answer.escape("main_answer") %></p>
  <div class="upvote-btn"> </div>
</div>

