<br>
<form  class="form-horizontal">
  <legend> Add an Answer</legend>

	  <input type="hidden"
	         name="answer[question_id]"
	         value="<%= question.escape("id") %>">

		<div class="form-group">
	      <div class="col-xs-8">
	        <textarea class="form-control" rows="3" id="textArea" name="answer[main_answer]"></textarea>
	      </div>
	  </div>

    <div class="form-group">
      <div class="col-xs-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
