<h5> Upvotes by:
<% friendUpvoters.forEach(function(friendUpvoter){ %>
  <a href=<%= "#users/" + friendUpvoter.id%> >  <%= friendUpvoter.get("name")%> </a>, 
<% }) %>
<% if (numExVoters > 0 ){ %>
	<% if (friendUpvoters.length > 0){ %>
	 and
	<%  } %>
   <%= numExVoters%>
    <% if (friendUpvoters.length > 0){ %>
     other
    <%  } %>
	users
 <% } %>
<% if (!hasVoted){ %>
	<form id="upvote" style="display:inline">
  		 <input type="submit" value="Upvote" class="btn btn-primary btn-xs" >
	</form>
<% } %>
</h5>


