<div class="container">
	<div class="row">
  		<div class="col-xs-9">
  			<div id="feed-activity"> </div>
        <h4 class="inv_el" id="loading_el" style="text-align:center"> Loading </h4>
  		</div>

    <div class="col-xs-3">
      <div id="side-nav">

        <ul id="rec_users" style="width: 25%; color:000000" >
        </ul>

      </nav>
    </div>
	</div>
</div>
