<div class="container">
	<div class="row">
	    <div class="col-xs-2">
  			<nav class="navbar navbar-inverse navbar-nav" role="navigation" id="side-nav">

  			   <ul class="nav nav-pills nav-stacked">
   			    <li><a href="#header2"> Open Questions</a></li>

  			    <li><a href="#carousel-example-generic"> Notifications </a></li>
  			    <li><a href="#header1"> Messages </a></li>
  			    <li><a href="#header2"> Recommendations</a></li>
  			  </ul>

  			</nav>
  		</div>

  		<div class="col-xs-8">
  			<div id="feed-activity" style="overflow:auto|scroll"> </div>
  		</div>

	    <div class="col-xs-2">
  			<nav class="navbar navbar-inverse navbar-nav" role="navigation" id="side-nav">

  			   <ul class="nav nav-pills nav-stacked" id="rec_users">

  			  </ul>

  			</nav>
  		</div>
	</div>
</div>

