<ul style="padding-right:23px" class="show_bottom_border">
  <h4><a href=<%= "#users/" + user.id %> ><%= user.escape("name") %> </a> </h4>
  <div class="following-btn"></div>


	<% if (user.attributes.location){ %>

				<h6>
		    		Location: <%= user.escape("location") %>
	  		</h6>

	<% } %>


</ul>
