<h2>New User</h2>

<form>
  <label>
    Full Name
    <input type="text" name="user[name]">
  </label>

  <label>
    Email
    <input type="text" name="user[email]">
  </label>

  <label>
    Password
    <input type="password" name="user[password]">
  </label>  

  <input type="submit">
</form>

<a href="#">Back</a>
