<div class="row">
  <div class="col-lg-offset-4">
    <h1> Welcome to Kenntnis! </h1>
  </div>
<div>

<div class="row">
  <form class="form-horizontal col-lg-4 col-lg-offset-4">
    <fieldset>
    <legend> Sign Up: </legend>
  
    <div class="form-group">
      <label for="full_name" class="col-lg-2 control-label"> Name:</label>
      <div class="col-lg-10">
        <input type="text" id="full_name" class="form-control" name="user[name]">
      </div>
    </div>

      <div class="form-group">
        <label for="email" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <input type="text" id="email" class="form-control" name="user[email]">
        </div>
      </div>


      <div class="form-group">
        <label for="pswd" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
            <input type="password" class="form-control" id="pswd" name="user[password]">
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" class="btn btn-primary btn-sm">Submit</button>
          <a href="#"> <button class="btn btn-info btn-sm">  Log In Page </button></a>
          
        </div>
      </div>
    </fieldset>
  </form>
</div>
