<div class="container">
	<div class="row">
	  <div class="col-xs-2">
			<nav class="navbar navbar-inverse navbar-nav" role="navigation" id="side-nav">

			   <ul class="nav nav-pills nav-stacked">

			    <li><a href="" id="questions_created" class="profile_btn">Questions Created</a></li>
			    <li><a href="" id="answers_created" class="profile_btn"> Answers Created </a></li>
			    <li><a href="" id="followers" class="profile_btn"> Followers</a></li>
 			    <li><a href="" id="followings" class="profile_btn"> Following</a></li>
			  </ul>

			</nav>
		</div>

		<div class="col-xs-10">
      <div class="jumbotron" style="padding:2%">
     	  <div id="user_info"></div>
			  <div class="user_following_btn"></div>
      </div>
			<br>

			<div id="recent-activity"> </div>
        	<h4 class="inv_el" id="loading_el" style="text-align:center"> Loading </h4>
		</div>
	</div>
</div>