<div class="container">
	<div class="row">
	  <div class="col-xs-2">
			<nav class="navbar navbar-inverse navbar-nav" role="navigation" id="side-nav">

			   <ul class="nav nav-pills nav-stacked">

			    <li><a href="#carousel-example-generic"> Questions Created </a></li>
			    <li><a href="#header1"> Answers Created </a></li>
			    <li><a href="#header2"> Followers</a></li>
 			    <li><a href="#header2"> Following</a></li>
 			    <li><a href="#header2"> Message</a></li>

			  </ul>

			</nav>
		</div>

		<div class="col-xs-10">

			<h1><%= user.escape("name") %></h1>
      <div id="user_info"></div>
			<br>

			<div id="recent-activity"> </div>
		</div>
	</div>
</div>