<ul>
	<% if (user.attributes.about){ %>
		<li>
				<label>
		    		About: <%= user.escape("about") %>
	  		</label>
		</li>
	<% } %>

	<% if (user.attributes.employment){ %>
		<li>
				<label>
		    		Employment: <%= user.escape("employment") %>
	  		</label>
		</li>
	<% } %>

	<% if (user.attributes.location){ %>
		<li>
				<label>
		    		Location: <%= user.escape("location") %>
	  		</label>
		</li>
	<% } %>

	<% if (user.attributes.education){ %>
		<li>
				<label>
		    		Education: <%= user.escape("education") %>
	  		</label>
		</li>
	<% } %>
</ul>