<h1> Topics </h1>
<ul class="list-group">
<% topics.forEach(function(topic){ %>
	<li class="list-group-item"> <a href=<%= "#topics/" + topic.escape("id") %> ><%= topic.escape("title") %> </a> </li>
<% }) %>
</ul>