<div class="posts-des">
  <% if (isEditing){ %>
  	<form id="tc-update">
  		<h1> Topic: <input type="text" class="form-control" name="topic[title]" value="<%= topic.escape("title") %>"><h1>
  		<button type="submit" class="btn btn-info btn-xs" > Update </button>
  <% } else { %>
  	<h1> Topic: <%= topic.escape("title") %></h1>
  	<button class="btn btn-info btn-xs" id="tc-edit"> Edit </button>
  <% } %>

  <h5 id="tc-author">  </h5>

  <% if (addQns){ %>
  	<% if (isEditing){ %>
        <textarea class="form-control" name="topic[description]" value="<%= topic.get("description") %>"></textarea>
        </form>
  	<% } else { %>
  	  <h4> Description: <%= topic.get("description") %></h4>
      <% } %>
  <% } %>
  <div class="topic-following-btn"> </div>
</div>
<% if (addQns){ %>
	<div id="questions"> Questions: </div>
<% } %>
<h4 class="inv_el" id="loading_el" style="text-align:center"> Loading </h4>
