<h1> Topic: <%= topic.escape("title") %></h1>
<h5 id="author"> Author:  </h5>
<div class="following-btn"> </div>

<p> Description: <%= topic.escape("description") %></p>
<h5> Views: <%= topic.escape("numViews") %></h5>

<div id="questions"> Questions: </div>


