<% notifications.forEach(function(notification){ %>
	<div class='show_bottom_border'>
		<%= notification.show_name + " " + notification.n_kind + notification.object_ref + notification.body_text + "</a>" + " on " + notification.created_at %>
	</div>
<% }) %>