<label for="select" class="col-xs-2 control-label">Topic</label>

<div class="col-xs-10">
	<select name="question[topic_ids][]" id="add_question_topic" class="form-control">
	  <!-- `brown`, if selected, is the value that will be submitted to
	       the server; user is displayed "Brown" as the choice -->
	  <option value=""></option>
	  <% allTopics.forEach(function(topic){ %>
	    <option value="<%= topic.id %>"> <%= topic.get("title") %> </option>
	  <% }) %>
	</select>
	<br>
</div>

